/* Set the body background color to a light grey */
body {
    background-color: #f5f5f5;  
}

/* Style the form container */
form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px auto;
    max-width: 500px;
}

#formInputWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

/* Style the form header */
form h2 {
    color: #555555;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

/* Style the form input fields */
form input, form textarea {
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #555555;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 15px;
    width: 100%;
}

/* Style the form submit button */
form button {
    background-color: #6796ed;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

form button:hover {
    background-color: #09358d;
}

label {
    color: #555555;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Style form input labels */
    label[for] {
    font-weight: 700;
    margin-right: 5px;
}

/* Style required form input labels */
label[for][required]::after {
    content: "*";
    color: #ff0000;
    margin-left: 5px;
}
#grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}