/* Set the body background color to a light grey */
body {
    background-color: #f5f5f5;  
}

/* Style the form container */
form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px auto;
    max-width: 90%;
}
#formHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#formHeader > * {
    margin-left: 30px;
    margin-right: 30px;
}



.formInputWrapper, .formButtonsWrapper{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

/* Style the form header */
form h2 {
    color: #555555;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* Style the form input fields */
form input, form textarea {
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #555555;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 15px;
    padding-top: 30px;
    width: 200px;
}

/* Style the form submit button */
form button {
    background-color: #6796ed;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    transition: background-color 0.2s ease-in-out;
    width: 200px;
}

form button:hover {
    background-color: #09358d;
}

label {
    color: #555555;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Style form input labels */
    label[for] {
    font-weight: 700;
    margin-right: 5px;
}

/* Style required form input labels */
label[for][required]::after {
    content: "*";
    color: #ff0000;
    margin-left: 5px;
}





.inputDiv {
    position: relative;
}

label {
	font-size: 70%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	
	position: absolute;
	top: 10px;
	left: 10px;
}