html, body{
  margin: 0;
  height: 100%;
  text-align: center;
}
#diagramWrapper {
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}
#diagramWrapper > * {
  border-radius: 10px;
}

#database {
  width: 90%;
  margin: auto;
}